<form (ngSubmit)="onSubmit()">
  <mat-card class="card_edit">
  <div class="form-group">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Habilidade" type="text" class="form-control" [(ngModel)]="habilidade.habilidade" name="habilidade"/>
 </mat-form-field>
    </div>

  <div class="form-group">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Nível" type="text" class="form-control" [(ngModel)]="habilidade.nivel" name="habilidade"/>
 </mat-form-field>
    </div>


  <button mat-raised-button color="primary" type="submit" class="btn btn-primary">Salvar</button>
  </mat-card>
  </form>