
<header _ngcontent-thl-c60 class="docs-primary-header component-page-header">
  <h1 _ngcontent-thl-c60>Buscar Perfil</h1>
</header>

<div>
  <mat-form-field>
    <input matInput placeholder="Habilidade" type="text" [(ngModel)] = "habilidade" (input)="Search()"/>
  </mat-form-field>
</div>


<table  mat-table [dataSource]="perfil | async">
   <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
   </ng-container>
   <ng-container matColumnDef="sobrenome">
      <th mat-header-cell *matHeaderCellDef> Sobrenome </th>
      <td mat-cell *matCellDef="let element"> {{element.sobrenome}} </td>
   </ng-container>
   <ng-container matColumnDef="profissao">
       <th mat-header-cell *matHeaderCellDef> Profissão </th>
       <td mat-cell *matCellDef="let element"> {{element.profissao}} </td>
   </ng-container>
   <ng-container matColumnDef="habilidade">
        <th mat-header-cell *matHeaderCellDef> Habilidade </th>
        <td mat-cell *matCellDef="let element"> {{element.habilidade}} </td>
   </ng-container>
   <ng-container matColumnDef="nivel">
       <th mat-header-cell *matHeaderCellDef> Nível </th>
       <td mat-cell *matCellDef="let element"> {{element.nivel}} </td>
   </ng-container>
   <ng-container matColumnDef="Editar">
        <th mat-header-cell *matHeaderCellDef > Editar </th>
        <td mat-cell *matCellDef="let element"> <a mat-raised-button color="primary" [routerLink]="'/perfil'" target="_blank">Editar</a> </td>
   </ng-container>
   <ng-container matColumnDef="Deletar" >
        <th mat-header-cell *matHeaderCellDef > Deletar </th>
        <td mat-cell *matCellDef="let element" > <button mat-raised-button color="primary" type="button" class="btn btn-danger ml-2" (click)="delete(element.key)"> Excluir </button> </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>



<!--*ngFor="let contato of contatos | async"-->



<!---<table *ngIf="perfil | async" id="perfil">
  <tr>
    <th>Nome</th>
    <th>Idade</th>
    <th>Apresentação</th>
    <th>Habilidade</th>
    <th>Editar</th>
    <th>Deletar</th>
  </tr>
  <tr *ngFor="let perfil; let i= index ">
    <td>{{perfil.nome}}</td>
    <td>{{perfil.idade | date:'dd/MM/yyyy'}}</td>
    <td>{{perfil.apresentacao}}</td>
    <td>{{perfil.habilidade}}</td>
    <td><a [routerLink]="'/edit/'+i">Editar</a></td>
    <td><a (click)="delete()">Excluir</a> </td>

  </tr>
</table>-->
