<button mat-button [matMenuTriggerFor]="menu">MENU</button>


<mat-menu #menu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="cadastros">Cadastros</button>
  <button mat-menu-item [matMenuTriggerFor]="buscas">Buscas</button>
</mat-menu>

<mat-menu #cadastros="matMenu">
  <a routerLink="/perfil"routerLinkActive="active" mat-menu-item>Perfil</a>
  <a routerLink="/oportunidade"routerLinkActive="active" mat-menu-item>Oportunidade</a>
</mat-menu>

<mat-menu #buscas="matMenu">
  <a routerLink="/buscar" routerLinkActive="active" mat-menu-item>Perfil</a>
</mat-menu>
<router-outlet></router-outlet>



<!-- <a routerLink="/perfil" routerLinkActive="active">Perfil</a>
  <a routerLink="/buscar" routerLinkActive="active">Buscar</a>
  <div style="text-align:center">
  <h1></h1>
  <router-outlet></router-outlet>
</div>
 --> 
<!--
<nav>
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/perfil" routerLinkActive="active">Perfil</a></li>
      <li><a routerLink="/buscar" routerLinkActive="active">Buscar</a></li>
    </ul>
    <router-outlet></router-outlet>
  </div>
</nav>-->
      