
<mat-card class="card_list">
  <mat-list role="list">
<div class="card mt-2" *ngFor="let habilidade of habilidades | async">
  <div class="card-body">
    <mat-list-item role="listitem" class="card-title">{{habilidade.habilidade}}</mat-list-item>
    <mat-list-item role="listitem" class="card-text">{{habilidade.nivel}}</mat-list-item>
  </div>

  <div class="card-footer">
    <button mat-raised-button color="primary" type="button" class="btn btn-default" (click)="edit(habilidade, habilidade.key)">Editar</button>
    <button mat-raised-button color="primary" type="button" class="btn btn-danger ml2" (click)="delete(habilidade.key)">Excluir</button>
  </div>
</div>
</mat-list>

</mat-card>
