<header _ngcontent-thl-c60 class="docs-primary-header component-page-header">
<h1 _ngcontent-thl-c60>Cadastro de Perfil</h1>
</header>

<form (ngSubmit)="onSubmit()">

  <div class="form-group">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Nome" type="text" class="form-control" [(ngModel)]="perfil.nome" name="nome" />
    </mat-form-field>
  </div>

<br>

<div class="form-group">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Sobrenome" type="text" class="form-control" [(ngModel)]="perfil.sobrenome" name="sobrenome" />
  </mat-form-field>
</div>

<br>

<div class="form-group">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Profissao" type="text" class="form-control" [(ngModel)]="perfil.profissao" name="profissao" />
  </mat-form-field>
</div>

<br>


<!-- 
<div>
  <app-form-skill [(habilidade)]="habilidades"> </app-form-skill>
</div> 
-->

<div class="form-group">
  <app-edit></app-edit><br>
  <app-list></app-list>
</div> 
<br>
<br>

<button type="submit" mat-raised-button color="primary">Salvar</button>

</form>  

