<h1>Cadastro de Perfil</h1>

<form (ngSubmit)="onSubmit()">

  <div class="form-group">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Nome" type="text" class="form-control" [(ngModel)]="perfil.nome" name="nome" />
    </mat-form-field>
  </div>

<br>
<br>

<div class="form-group">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Idade" type="text" class="form-control" [(ngModel)]="perfil.idade" name="idade" />
    </mat-form-field>
</div>

<br>
<br>
  <div class="form-group">
     <mat-form-field class="example-full-width">
       <textarea matInput placeholder="Leave a comment" type="text" class="md-textarea md-textarea-auto form-control" [(ngModel)]="perfil.apresentacao" name="apresentacao" id="form7" ></textarea>
     </mat-form-field>
  </div>
<br>

<div class="form-group">
    <mat-form-field class="example-full-width">
    <input matInput placeholder="Habilidade" type="text" class="form-control" [(ngModel)]="perfil.habilidade" name="habilidade" />
  </mat-form-field>
  </div>

<br>

<button type="submit" mat-raised-button color="primary">Salvar</button>
<p>{{perfil.nome}}</p>
<p>{{perfil.idade}}</p>
<p>{{perfil.apresentacao}}</p>
<p>{{perfil.habilidade}}</p>
</form>
